<style>
.button {
  border-radius: 4px;
  background-color: #002e6e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
 table {
font-family : verdana;
border-collapse : collapse;
width : 10%;
padding: 7px;
}


td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 7px;
}

tr:nth-child(even) {
   background-color: #dddddd;


}
</style>